footer
  .container
    .row
      .col-lg-4.footer-grid-agileits-w3ls.text-left
        h3 About US
        p
          | Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. lacinia eget consectetur sed, convallis at tellus..
        .read
          a.btn.btn-primary.read-m(href='/about') Read More
      .col-lg-4.footer-grid-agileits-w3ls.text-left
        .tech-btm
          
          
      
      .col-lg-4.subscribe-main.footer-grid-agileits-w3ls.text-left
        h2 Signup to our newsletter
        .subscribe-main.text-left
          .subscribe-form
            form.subscribe_form(action='#' method='post')
              input.form-control(type='email' placeholder='Enter your email...' required='')
              button.btn.btn-primary.submit(type='submit') Submit
            .clearfix  
          p We respect your privacy.No spam ever!
        
    .footer-cpy.text-center
      .footer-social
        .copyrighttop
          ul
            li.mx-3
              a.facebook(href='#')
                i.fab.fa-facebook-f
                span Facebook
            li
              a.facebook(href='#')
                i.fab.fa-twitter
                span Twitter
            li.mx-3
              a.facebook(href='#')
                i.fab.fa-google-plus-g
                span Google+
            li
              a.facebook(href='#')
                i.fab.fa-pinterest-p
                span Pinterest
      .w3layouts-agile-copyrightbottom
        p
          | &copy; 2018 Weblog. All Rights Reserved | Design by
          a(href='http://w3layouts.com/') W3layouts
