extends base

block content

    .banner-inner
    ol.breadcrumb
        li.breadcrumb-item
            a(href="/") Home
        li.breadcrumb-item.active About

    section.banner-bottom

        .about__container
            .about__wrapper
                h3.about__heading ABOUT.
                h6.abt__heading WELCOME TO OUR WEBSITE
                p Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.

