extends base

block content

    .banner-inner
    ol.breadcrumb
        li.breadcrumb-item
            a(href="index.html") Home
        li.breadcrumb-item.active Blog3
    
    section.main-content-w3layouts-agileits
        .container
            h3.tittle Blog Posts
            .inner-sec
          
                .left-blog-info-w3layouts-agileits.text-left
                    .row
                        .col-lg-4.card
                            a(href="single.html")
                                img.card-img-top.img-fluid(src="images/7.jpg" alt="")
                            .card-body
                                ul.blog-icons.my-4
                                    li
                                        a(href="#")
                                            i.far.fa-calendar-alt
                                                |  Feb 20 .2018
                                    li.mx-2
                                        a(href="#")
                                            i.far.fa-comment
                                                |  21
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                                                |  2000
                                h5.card-title
                                    a(href="single.html") Blog Post Title
                                p.card-text.mb-3
                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt..
                                a.btn.btn-primary.read-m(href="single.html") Read More
                        .col-lg-4.card
                            a(href="single.html")
                                img.card-img-top.img-fluid(src="images/6.jpg" alt="")
                            .card-body
                                ul.blog-icons.my-4
                                    li
                                        a(href="#")
                                            i.far.fa-calendar-alt
                                                |  Feb 22 .2018
                                    li.mx-2
                                        a(href="#")
                                            i.far.fa-comment
                                                |  21
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                                                |  2000
                                h5.card-title
                                    a(href="single.html") Blog Post Title
                                p.card-text.mb-3
                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt..
                                a.btn.btn-primary.read-m(href="single.html") Read More
                    .col-lg-4.card
                        a(href="single.html")
                            img.card-img-top.img-fluid(src="images/2.jpg" alt="")
                        .card-body
                            ul.blog-icons.my-4
                                li
                                    a(href="#")
                                        i.far.fa-calendar-alt
                                            |  Feb 23 .2018
                                li.mx-2
                                    a(href="#")
                                        i.far.fa-comment
                                            |  21
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                                            |  2000
                            h5.card-title
                                a(href="single.html") Blog Post Title
                            p.card-text.mb-3
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt..
                            a.btn.btn-primary.read-m(href="single.html") Read More
                    .col-lg-4.card.my-lg-4.my-md-1.my-0
                        a(href="single.html")
                            img.card-img-top.img-fluid(src="images/5.jpg" alt="")
                        .card-body
                            ul.blog-icons.my-4
                                li
                                    a(href="#")
                                        i.far.fa-calendar-alt
                                            |  Mar 20 .2018
                                li.mx-2
                                    a(href="#")
                                        i.far.fa-comment
                                            |  21
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                                            |  2000
                            h5.card-title
                                a(href="single.html") Blog Post Title
                            p.card-text.mb-3
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt..
                            a.btn.btn-primary.read-m(href="single.html") Read More
                    .col-lg-4.card.my-4
                        a(href="single.html")
                            img.card-img-top.img-fluid(src="images/4.jpg" alt="")
                        .card-body
                            ul.blog-icons.my-4
                                li
                                    a(href="#")
                                        i.far.fa-calendar-alt
                                            |  Mar 25 .2018
                                li.mx-2
                                    a(href="#")
                                        i.far.fa-comment
                                            |  21
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                                            |  2000
                            h5.card-title
                                a(href="single.html") Blog Post Title
                            p.card-text.mb-3
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt..
                            a.btn.btn-primary.read-m(href="single.html") Read More
                    .col-lg-4.card.my-lg-4.my-md-1.my-0
                        a(href="single.html")
                            img.card-img-top.img-fluid(src="images/3.jpg" alt="")
                        .card-body
                            ul.blog-icons.my-4
                                li
                                    a(href="#")
                                        i.far.fa-calendar-alt
                                            |  Feb 30 .2018
                                li.mx-2
                                    a(href="#")
                                        i.far.fa-comment
                                            |  21
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                                            |  2000
                            h5.card-title
                                a(href="single.html") Blog Post Title
                            p.card-text.mb-3
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt..
                            a.btn.btn-primary.read-m(href="single.html") Read More
                    .col-lg-4.card
                        a(href="single.html")
                            img.card-img-top.img-fluid(src="images/1.jpg" alt="")
                        .card-body
                            ul.blog-icons.my-4
                                li
                                    a(href="#")
                                        i.far.fa-calendar-alt
                                            |  Mar 31 .2018
                                li.mx-2
                                    a(href="#")
                                        i.far.fa-comment
                                            |  21
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                                            |  2000
                            h5.card-title
                                a(href="single.html") Blog Post Title
                            p.card-text.mb-3
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt..
                            a.btn.btn-primary.read-m(href="single.html") Read More
                    .col-lg-4.card
                        a(href="single.html")
                            img.card-img-top.img-fluid(src="images/6.jpg" alt="")
                        .card-body
                            ul.blog-icons.my-4
                                li
                                    a(href="#")
                                        i.far.fa-calendar-alt
                                            |  Apr 01 .2018
                                li.mx-2
                                    a(href="#")
                                        i.far.fa-comment
                                            |  21
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                                            |  2000
                            h5.card-title
                                a(href="single.html") Blog Post Title
                            p.card-text.mb-3
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt..
                            a.btn.btn-primary.read-m(href="single.html") Read More
                    .col-lg-4.card
                        a(href="single.html")
                            img.card-img-top.img-fluid(src="images/8.jpg" alt="")
                        .card-body
                            ul.blog-icons.my-4
                                li
                                    a(href="#")
                                        i.far.fa-calendar-alt
                                            |  Apr 01 .2018
                                li.mx-2
                                    a(href="#")
                                        i.far.fa-comment
                                            |  21
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                                            |  2000
                            h5.card-title
                                a(href="single.html") Blog Post Title
                            p.card-text.mb-3
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt..
                            a.btn.btn-primary.read-m(href="single.html") Read More
                    nav(aria-label="Page navigation example")
                        ul.pagination.justify-content-left.mt-4
                            li.page-item.disabled
                                a.page-link(href="#" tabindex="-1") Previous
                            li.page-item
                                a.page-link(href="#") 1
                            li.page-item
                                a.page-link(href="#") 2
                            li.page-item
                                a.page-link(href="#") 3
                            li.page-item
                                a.page-link(href="#") Next
